exec secrets.cfg
exec permissions.cfg

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_hostname "Veltma Roleplay | Development"
sets sv_projectName "Veltma Roleplay"
sets sv_projectDesc "Veltma development server"
sets tags "veltma,roleplay,development"
sets locale "en-US"

sv_maxclients 48
sv_scriptHookAllowed 0
setr sv_showBusySpinnerOnLoadingScreen false
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on

ensure mapmanager
ensure chat
ensure spawnmanager
ensure veltma-gametype
ensure veltma-map

ensure veltma-core
ensure veltma-loading
ensure veltma-world
ensure veltma-account
ensure veltma-character
ensure veltma-spawn
